.heading{
 
    width: 126px;
    height: 35px;
    left: 25px;
    top: 30px;

    
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 34px;

color: #070602;

}
.icon
{

width: 18px;
height: 18px;
right: 25px;
top: 25px;

/* Body */

}
.cake
{
    

    margin-left: 50%;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #808080;
}
.usd
{
   

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #808080;

}

.ct
{
    position: absolute;
width: 534px;
height: 697px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 20px;
}
.input
{
  
width: px;
height: 60px;
left: 25px;
top: 97px;

background-color: #ECECEC;
border: 1px solid #ECECEC;
box-sizing: border-box;
border-radius: 16px;
}

.yellow
{
 
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 23px;
    
 
    width: 126px;
    height: 40px;
    left: 25px;
    top: 166px;
    
    background: #FFF9AA;
    border-radius: 10px #FFF9AA;

    ;

   

}

.light
{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 9px 23px;


width: 82px;
height: 36px;
left: 161px;
top: 166px;

background: #F8F8F8;
border-radius: 10px;
}

.time
{

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
 
    color: #000000;

}


